# APP
PORT=
NODE_ENV=
# DEVELOPMENT,PRODUCTION,TEST

# DATABASE 
DATABASE_URL=

#MAIL
MAIL_HOST=
MAIL_USER=
MAIL_PASS=

# URL
FRONTEND_BASE_URL=https://cbus-xi.vercel.app

#LOG
LOG_LEVEL=

#MEDIA
MEDIA_UPLOAD_PATH=
TEMP_FOLDER_PATH=